.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.no_results {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
