.root {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.favorite_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 0.5rem;
}

.dog_card {
  min-width: 150px !important;
  width: 150px !important;
  max-width: 150px !important;
  padding: 0;
  border: none;
  gap: 0;
}

.favorite_list::-webkit-scrollbar {
  height: 8px;
}

.favorite_list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.generate_match_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate_match_btn {
  width: 200px;
}
